<a href="https://colab.research.google.com/github/bindushahi/olympic-medals-analysis/blob/main/hw1_olympic_medals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

# Load the dataset
medals = pd.read_csv('olympic_medals.csv')
medals.head()

,Gender,Event,Location,Year,Medal,Name,Nationality,Result
0,M,10000M Men,Rio,2016,G,Mohamed FARAH,GBR,25:05.17
1,M,10000M Men,Rio,2016,S,Paul Kipngetich TANUI,KEN,27:05.64
2,M,10000M Men,Rio,2016,B,Tamirat TOLA,ETH,27:06.26
3,M,10000M Men,Beijing,2008,G,Kenenisa BEKELE,ETH,27:01.17
4,M,10000M Men,Beijing,2008,S,Sileshi SIHINE,ETH,27:02.77

In [6]:
# Number of rows and columns
rows, columns = medals.shape
print(f"Number of rows: {rows}")
print(f"Number of columns: {columns}")

Number of rows: 2394
Number of columns: 8

In [7]:
#data types for all columns
print("Data types of each column:")
print(medals.dtypes)

Data types of each column:
Gender         object
Event          object
Location       object
Year            int64
Medal          object
Name           object
Nationality    object
Result         object
dtype: object

In [9]:
medals.columns

Index(['Gender', 'Event', 'Location', 'Year', 'Medal', 'Name', 'Nationality',
       'Result'],
      dtype='object')

In [10]:
#unique cities matches were held
print("Number of unique cities where matches were held:")
print(len(medals['Location'].unique()))

Number of unique cities where matches were held:
23

In [11]:
# Total medals won by USA
usa_medals = len(medals[medals['Nationality'] == 'USA'])
print(f"Total medals won by USA: {usa_medals}")

Total medals won by USA: 638

In [12]:
# Total medals for each nationality
medals_per_country = medals.groupby('Nationality')['Medal'].count()
print("Total medals per country:")
print(medals_per_country)

Total medals per country:
Nationality
ALG      9
ARG      4
AUS     57
AUT      4
BAH     12
      ...
URS    131
USA    638
VEN      2
YUG      1
ZAM      1
Name: Medal, Length: 97, dtype: int64